@use '../../styles/mixins/breakpoints' as bp;

.title_paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h3 {
        font-family: "Neue Montreal", sans-serif;
        font-weight: 400;
    }
}
