// VARIABLES
@use 'styles/variables/fonts';
@use 'styles/variables/colors';
@use 'styles/variables/shadows';

// MIXINS
@use 'styles/mixins/breakpoints';

// FLEX
@use 'styles/flex/flex-4-2-1';
@use 'styles/flex/flex-3-1';
@use 'styles/flex/flex-2-1';


body {
    font-family: fonts.$tg-maison-neue;
    background-color: colors.$color-white-01;
    color: black
}

// HOVER
.hover-opacity {
    opacity: 1;
    transition: opacity .2s;
}

.hover-opacity:hover {
    opacity: 0.6;
}

// MARGINS

.m_25_auto {
    margin: 100px auto;
    max-width: 80%;
}