@use '../mixins/breakpoints.scss' as bp;

.flex-2-1 {
    display: flex;
    flex-wrap: wrap;
    > * {
        width: 100%;
    }

    @include bp.lg {
        > * {
            width: 50%;
        }
    }
}
